@*@using LibraryApp.Models
    @model List<Book>*@
<div class="container body-content">
    <h2>Search Results:</h2>
    <hr />

    @if (ViewBag.books != null)
    {
        <table class="table table-striped thead-dark">
            <tr>
                <th>Name</th>
                <th>Barcode Number</th>
                <th>Library Address</th>
            </tr>

            @foreach (var book in ViewBag.books)
            {
                <tr>
                    <td> <a asp-controller="Book" asp-action="About" asp-route-id="@book.Id">@book.Name</a></td>
                    <td> @book.BarcodeNum</td>
                    <td> @book.LibraryAddressStreet, @book.LibraryAddressCity, @book.LibraryAddressState @book.LibraryAddressZip</td>

                </tr>


            }
        </table>

    }


</div>

<div id="GoogleMaps" style="width:100%;height:400px;"></div>

@if (ViewBag.books != null)
{
<script>
            function initMap() {
                var bounds = new google.maps.LatLngBounds();
                const map = new google.maps.Map(document.getElementById("GoogleMaps"), {
                    zoom: 8,
                    center: { lat: 39.0997, lng: -94.5786  },
                });

            @foreach (var item in ViewBag.books)
            {
                    <text>
                var marker = new google.maps.Marker({
                    position: { lat: @item.Latitude, lng: @item.Longitude },
                    map: map,
                    label:"@item.Name",
                });
                bounds.extend({ lat: @item.Latitude, lng: @item.Longitude });
                    </text>
            }
                map.fitBounds(bounds);
            }
</script>
}

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=API_KEY">
</script>


